body {
    width: 95%;
    align-items: center;
    align-self: center;
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
}

.ja-bar {
    width: 97%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 110px;
    background-color: rgb(6, 193, 239);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

#logo {
    padding: 7px;
    border-radius: 70px;
}

#ja_name {
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(4, 4, 0);
}

.ja-bar-item {
    float: right;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    padding: 10px 15px 9px 15px;
    color: #020202;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 1.5;
    box-sizing: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    white-space: normal;
    font-weight: 550;
}

#sign_in_img {
    padding: 8px 10px 10px 20px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.login {
    padding: 10px;
    padding-top: 8px;
    float: right;
    background-color: rgba(38, 0, 255, 0.336);
    border-radius: 15px;
    border: 5px solid black;
    width: 20%;
    margin: 20px;
    margin-right: 40px;
    height: 270px;
    background-image: url(sign_in.png);
}

#username {
    padding: 10px;
    height: 12px;
    width: 65%;
    border-radius: 5px;
    ;
}

#pwd {
    padding: 10px;
    height: 12px;
    width: 65%;
    border-radius: 5px;
}

#fgtpwd {
    margin: 2px;
    padding: 5px;
    float: right;
    font-size: small;
    color: blue;
    font-style: italic;
}

#sign_in,
#sign_up {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px;
    width: 25%;
    border-radius: 5px;
}

#sign_in {
    float: right;
}

.box {
    padding: 5px;
    margin: 5px;
    width: 70%;
    border: 3px solid #159;
    font-size: x-large;
    font-weight: 300;
    font-style: inherit;
    height: 290px;
    margin-top: 10px;
    border-radius: 10px;
    background-image: url(bookshelf.png);
}

#transbox {
    margin: 20px;
    padding: 10px;
    opacity: 0.6;
    background-color: #fff;
    font-weight: bold;
}

.news_ancmnt {
    padding: 40px;
    margin: 40px;
    margin-left: 120px;
    padding-left: 100px;
    width: 70%;
    background-color: #fff;
    height: 500px;
    align-items: center;
    align-self: center;
    border: 2px solid black;
}

#news_box {
    /* padding: 10 2 10 2; */
    width: 90%;
    font-size: larger;
    /* border: 5px solid maroon; */
    height: 400px;
}

#heading {
    /* margin: 10px;
                    padding: 10px; */
    text-align: center;
    font-size: larger;
    width: 60%;
    /* padding-left: 12px;
                    margin-left: 10px; */
    /* border: 3px solid maroon; */
    color: crimson;
}

#ancmnt_box {
    /* padding: 10 2 10 2; */
    width: 90%;
    font-size: larger;
    /* border: 5px solid maroon; */
    border-left: 2px solid black;
    padding-left: 10px;
    height: 400px;
}

.profile1,
.profile2 {
    margin: 20px;
    padding: 20px;
    width: 80%;
    /* padding-right: 10px; */
    margin-left: 120px;
    padding-left: 80px;
    margin-right: -10px;
    padding-right: -10px;
}

#teacher1,
#teacher2,
#teacher3,
#teacher4,
#teacher5,
#teacher6 {
    margin: 20px;
    padding: 20px;
    /* float: left; */
    width: 35%;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin-left: 25px;
    padding-left: 20px;
}

#teacher {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#cheading,
#fheading {
    margin: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: 600;
    text-align: left;
}

.feedback {
    margin: 10px;
    padding: 10px;
    width: 40%;
    height: 250px;
    float: left;
    border: 2px solid black;
    background-color: white;
    margin-left: 80px;
    padding-left: 20px;
    border-radius: 4px;
}

.contact_us {
    margin: 10px;
    padding: 10px;
    float: right;
    width: 40%;
    height: 250px;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    margin-right: 80px;
    padding-right: 20px;
    border-radius: 4px;
}

#mail {
    margin: 10px;
    padding: 10px;
    width: 40%;
    height: 10px;
    margin-left: 80px;
    padding-left: 40px;
}

#contact_us,
#feedback {
    margin: 10px;
    padding: 10px;
    width: 70%;
    margin-left: 80px;
}

#fsubmit,
#csubmit {
    background-color: cornflowerblue;
    float: right;
    font-size: medium;
    border-radius: 5px;
}

#name {
    margin: 10px;
    padding: 10px;
    width: 40%;
    height: 10px;
    margin-left: 80px;
    padding-left: 40px;
}